html,
body
{
    margin: 0;
    padding: 0;
    font-family: 'Raleway', Helvetica, sans-serif;
    background-color: #f4f4f4;
}

.header {
    height: 136px;
    background-image: url( logo.png );
    background-repeat: no-repeat;
    background-position: 6% 50%;
}

.main-menu {
    padding: 0 6%;
    background-color: #0E6EB5;
    color: #eee;
}
.main-menu.sticky {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
}
.main-menu.sticky + * {
    margin-top: 36px;
}
.main-menu > ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
.main-menu > ul:after {
    display: table;
    content: " ";
    clear: both;
}
.main-menu > ul > li {
    float: left;
    position: relative;
    padding-right: 20px;
    height: 36px;
    line-height: 36px;
    font-size: 14px;
    font-weight: bold;
    color: #dedede;
    cursor: pointer;
}
.main-menu > ul > li:hover,
.main-menu > ul > li.active
{ color: #fff; }


.shop-catalog-menu { cursor: default; }
.sub-menu {
    display: none;
    position: absolute;
    left: -20px;
    width: 1000px;
    background-color: white;
    overflow: hidden;
}
.main-menu ul li:hover .sub-menu {
    display: block;
}
.sub-menu_list {
    float: left;
    box-sizing: border-box;
    width: 250px;
    border-right: 1px solid #0E6EB5;
    overflow: scroll;
}
.sub-menu_item {
    display: block;
    padding: 0 20px;
    height: 36px;
    line-height: 36px;
    color: #000;
    text-decoration: none;
    white-space: nowrap;
    overflow: hidden;
}
.sub-menu_item:hover {
    background-color: #0E6EB5;
    color: #ffffff;
}
.sub-menu_content {
    float: left;
    width: 750px;
    color: #0E6EB5;
    overflow: scroll;
}
.sub-menu_content_item {
    float: left;
    margin: 10px;
    width: 230px;
    color: #000000;
}
.sub-menu_content_item-title {
    border-bottom: 1px solid #0E6EB5;
    color: #0E6EB5;
}

.shop-catalog {
    padding: 10px 0;
    color: #cecece;
}
